@model MercadoSaoBento.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/tabelas.css" rel="stylesheet" />
<link href="~/css/customLayout.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />
<div class="container-fluid">
    <h2>Detalhes</h2>

    <div>
        <h4>Fornecedor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CNPJ)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CNPJ)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
        <a asp-action="Edit" asp-route-id="@Model.FornecedorID" class="btn btn-default">Editar</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-mask-plugin/src/jquery.mask.js"></script>
    <script>
        $(document).ready(function () {
            $('#telefone').mask('(00)00000-0000');
            $("#cnpj").mask('00.000.000/0000-00', { reverse: true });
        });
    </script>
}