@model IEnumerable<MercadoSaoBento.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/tabelas.css" rel="stylesheet" />
<link href="~/css/customLayout.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />
<div class="container-fluid">
    <h2>Fornecedores</h2>

    <p>
        <a asp-action="Create" class="btn btn-default">Cadastrar</a>
    </p>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CNPJ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td id="cnpj">
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>
                    <td id="telefone">
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FornecedorID"><i class="glyphicon glyphicon-pencil btn btn-info"></i></a>
                        <a asp-action="Details" asp-route-id="@item.FornecedorID"><i class="glyphicon glyphicon-duplicate btn btn-default"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.FornecedorID"><i class="glyphicon glyphicon-trash btn btn-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-area="" asp-controller="Produtos" asp-action="Index" class="btn btn-default">Voltar</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-mask-plugin/src/jquery.mask.js"></script>
    <script>
        $(document).ready(function () {
            $('#telefone').mask('(00)00000-0000');
            $("#cnpj").mask('00.000.000/0000-00', { reverse: true });
        });
    </script>
}