@model MercadoSaoBento.Models.movSaida
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Movimentações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h2>Excluir</h2>

    <h3>Deseja realmente excluir?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.dataSaida)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.dataSaida)
            </dd>
            <dt>
                Usuário
            </dt>
            <dd>
                @UserManager.GetUserName(User)
            </dd>
            <dt>
                Motivo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MotivosSaida.motivo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Produto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Produto.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.obs)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.obs)
            </dd>
        </dl>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="movSaidaID" />
            <input type="submit" value="Confirmar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Voltar</a>
        </form>
    </div>
</div>