@model Paginacao<MercadoSaoBento.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}
<link href="~/css/tabelas.css" rel="stylesheet" />
<link href="~/css/customLayout.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />
<div class="container-fluid">
    <h2>Categorias</h2>

    <p>
        <a asp-action="Create" class="btn btn-default">Cadastrar</a>
    </p>
    <table style="width: 60%;" class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-Ordem="@ViewData["OrdemNome"]" asp-route-filtroAtual="@ViewData["FiltroPesquisarAtual"]">Nome</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td style="padding-left: 15%;">
                        <a asp-action="Edit" asp-route-id="@item.CategoriaID" id="invisivel"><i class="glyphicon glyphicon-pencil btn btn-info"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.CategoriaID" id="invisivel"><i class="glyphicon glyphicon-trash btn btn-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var anteriorDesabilitado = !Model.TemPaginaAnterior ? "disabled" : "";
        var proximoDesabilitado = !Model.TemPaginaProxima ? "disabled" : "";
    }
    <a asp-action="Index"
       asp-route-Ordem="@ViewData["OrdemAtual"]"
       asp-route-pagina="@(Model.IndicePagina - 1)"
       asp-route-filtroAtual="@ViewData["FiltroPesquisarAtual"]"
       class="btn btn-default @anteriorDesabilitado"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a asp-action="Index"
       asp-route-Ordem="@ViewData["OrdemAtual"]"
       asp-route-pagina="@(Model.IndicePagina + 1)"
       asp-route-filtroAtual="@ViewData["FiltroPesquisarAtual"]"
       class="btn btn-default @proximoDesabilitado"><i class="glyphicon glyphicon-chevron-right"></i></a>
    <div>
        <a asp-area="" asp-controller="Produtos" asp-action="Index" style="margin-top: 2%;" class="btn btn-default">Voltar</a>
    </div>
</div>