@model MercadoSaoBento.Models.Produto

@{
    ViewData["Title"] = "Excluir";
}
<link href="~/css/tabelas.css" rel="stylesheet" />
<link href="~/css/customLayout.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />
<div class="container-fluid">
    <h2>Excluir</h2>
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <div>
        <h4>Produto</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Preco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Preco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.QtdEstoque)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.QtdEstoque)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Categoria.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fornecedor.Nome)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ProdutoID" />
            <input type="submit" value="Confirmar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Voltar</a>
        </form>
    </div>
</div>